<web-app version="3.1" metadata-complete="true">

    <servlet>
        <servlet-name>QlueServlet</servlet-name>

        <servlet-class>
            com.webkreator.qlue.example.QlueExampleServlet
        </servlet-class>

        <!--
        <init-param>
            <param-name>QLUE_PAGES_ROOT_PACKAGE</param-name>
            <param-value>com.webkreator.qlue.example.pages</param-value>
        </init-param>
        -->

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>QlueServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>500</error-code>
        <location>/_qlue/handleInternalServerError.html</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/_qlue/handlePageNotFound.html</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/_qlue/handleThrowable.html</location>
    </error-page>

    <session-config>
        <session-timeout>15</session-timeout>

        <tracking-mode>COOKIE</tracking-mode>

        <cookie-config>
            <!-- <secure>true</secure> -->
            <http-only>true</http-only>
        </cookie-config>
    </session-config>

</web-app>
