<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="/WEB-INF/qlue.properties" />
	</bean>

	<bean id="qlueApp" class="com.webkreator.qlue.QlueApplication">
		<property name="pageResolver" ref="pageResolver" />
		<!-- <property name="emailSender" ref="emailSender" /> -->
	</bean>

	<bean id="pageResolver" class="com.webkreator.qlue.PrefixPageResolver">
		<property name="mappings">
			<list>
				<bean class="com.webkreator.qlue.UriMapping">
					<property name="pattern" value="/_qlue/" />
					<property name="packageMapping" value="com.webkreator.qlue.pages" />
				</bean>
				<bean class="com.webkreator.qlue.UriMapping">
					<property name="pattern" value="/" />
					<property name="packageMapping" value="com.webkreator.qlue.example.pages" />
				</bean>
			</list>
		</property>
	</bean>

	<!--
	<bean id="emailSender" class="com.webkreator.qlue.SmtpEmailSender">
		<property name="smtpServer" value="${smtpServer}" />
		<property name="smtpPort" value="${smtpPort}" />
		<property name="smtpProtocol" value="${smtpProtocol}" />
		<property name="smtpUsername" value="${smtpUsername}" />
		<property name="smtpPassword" value="${smtpPassword}" />
	</bean>
	-->

</beans>