<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd"
	version="3.0">

	<listener>
		<listener-class>
			com.webkreator.qlue.util.Log4jConfigListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>CanoeServlet</servlet-name>

		<servlet-class>
			com.webkreator.canoe.demo.CanoeServlet
		</servlet-class>

		<load-on-startup>1</load-on-startup>	
	</servlet>

	<servlet-mapping>
		<servlet-name>CanoeServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>500</error-code>
		<location>/_qlue/handleInternalServerError.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/_qlue/handlePageNotFound.html</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/_qlue/handleThrowable.html</location>
	</error-page>

	<session-config>
		<session-timeout>15</session-timeout>

		<tracking-mode>COOKIE</tracking-mode>

		<cookie-config>
			<!-- <secure>true</secure> -->
			<http-only>true</http-only>
		</cookie-config>
	</session-config>

</web-app>
